#############
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl

# Django
*.log
*.sqlite3
db.sqlite3
/media
/staticfiles
/static

# Environment
.env
.venv/
venv/
env/
env.bak/

# IDEs
.vscode/
.vscode
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
